body {
  background-color: black;
}

.navbar {
  background-color: red;
}

.article {
  background-color: blue;
  margin-bottom: 1.5em;
  border-radius: 10px;
}



.btn-wrapper {
  position: relative;
}

.save-btn,
.comment-btn {
  display: block;
  margin: 1em auto;
}

#comment-input {
  width: 100%;
}

.comments {
  display: inline-block;
}